.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  margin: 0 auto;
  width: 350px;
  height: 720px;
  background-color: rgb(14, 8, 75);
  color: white;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 3px;
}

.send {
  margin-top: 30px;
  width: 255px;
  height: 35px;
  font-size: 20px;
  border-radius: 3px;
}
